__pycache__/
arsiv/
textler/
*.txt

build/
dist/
*.dll
*.spec.bak
sensors*.txt
sestest.py
jitter.py
voltest.py
bartest.py
sensors_probe*.py
apicheck.py
colortest.py
fireforget.py
lcdspeed.py
overlay_off.py
patch_sysmon_window.py
sendtest.py
sendtest2.py
fpsprofil*.py
api.json
smc_read
cavatest_mac.py
native_proto_mac_DEBUG.py
smc_read
